{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "techsite/css/skeleton.css" %}" />
    <title>Techjanitor</title>
</head>
<body>
    <div class="section header">
        <div class="container">
            <div class="row">
                <div class="one column" style="text-align: center;">
                    <h1>Techjanitor</h1>
                </div>
            </div>
            <div class="row">
                <div class="one-third column value">
                    <a href="http://instapi.techjanitor.org"><h2>Instapi</h2></a>
                    <p>A minimal instagram api based on this(link) library</p>
                </div>
                <div class="one-third column value">
                    <a href="http://underlords.techjanitor.org"><h2>Underlords API</h2></a>
                    <p>An API with data from the game Dota Underlords</p>
                </div>
                <div class="one-third column value">
                    <a href="#"><h2>Feastly</h2></a>
                    <p>A site for adding and subscribing recipes, and generate a randomised weekly meal plan</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>